<div>
<h2>Bienvenido {{first_name}} </h2>
</div>

<div class="user-card">
    <ul>
        <li>Firstname: {{first_name}}</li>
        <li>Lastname: {{last_name}}</li>
        <li>Email: {{email}}</li>
        <li>Age: {{age}}</li>
        <li>Role: {{role}}</li>
    </ul>
</div>

<div>
    <a href="/products">Productos</a> <a href="/session/logout">Logout</a>
</div>

<style>
        
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh; 
            margin: 0;
            
        }

       
        .user-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            background-color: #f9f9f9;
            width: 400px;
            height: 400px;
            text-align: center;
            background-color: ;
            font-size: 5rem;
        }

        h2 {
            font-size: 24px;
            color: #007BFF;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            font-size: 30px;
            margin: 10px 0;
        }

        a {
            text-decoration: none;
            color: #007BFF;
            margin: 10px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>